NEXT_PUBLIC_SUPABASE_URL=https://agfsbkaegjizyhrljzhn.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFnZnNia2FlZ2ppenlocmxqemhuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzgyNzcxNTcsImV4cCI6MjA5Mzg1MzE1N30.YZejZr_1gIACbkKElISGAGR0ccfD5xTLFiXKpqlJemo
SUPABASE_URL=https://agfsbkaegjizyhrljzhn.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFnZnNia2FlZ2ppenlocmxqemhuIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODI3NzE1NywiZXhwIjoyMDkzODUzMTU3fQ.dd7BvyA5lhuf7T5rSx3tp4-XFwlAeZFjTRrZjK_tfgI
UPSTASH_REDIS_REST_URL=https://discrete-tuna-119554.upstash.i
UPSTASH_REDIS_REST_TOKEN=gQAAAAAAAdMCAAIgcDJkMTg4NGY5MDc3NDE0NWNjYTljNmU2ODY2YWJlYTIxYw